@import './../../main.scss';

.login-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-form {
	display: flex;
	flex-direction: column;
}

.login-google {
	color: var(--primary-font-clr);
}
