.header {
	display: flex;
	grid-area: header;
	align-items: center;
	justify-content: space-between;

	background: var(--secondary-bg);
}

.header__title {
	margin-left: 1em;
	font-size: clamp(1.5rem, 3vh, 3rem);
	letter-spacing: 2px;
}

.settings {
	margin-right: 2rem;
	font-weight: bold;
}
