.main {
	overflow-y: auto;
	display: flex;
	grid-area: main;
	flex-direction: column;
}

.selected-contact {
	display: flex;
	align-items: center;
	height: 4.2rem;
}

.selected-contact__img {
	grid-area: img;
	max-height: 80%;
}

.selected-contact__name {
	grid-area: name;
	margin-left: 0.5em;
}

.messages-container {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	height: 100%;

	border-top: 2px solid grey;
}

.messages {
	/* IE and Edge */
	scrollbar-width: none;

	overflow-y: auto;

	/* Firefox */
	display: flex;
	flex-direction: column;

	-ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messages::-webkit-scrollbar {
	display: none;
}

.message {
	display: flex;
	gap: 0.5em;

	max-width: 80%;
	margin-bottom: 1em;
	padding: 0.75em;

	font-size: 1.1rem;

	border-radius: 2rem;
}

.message--me {
	align-self: flex-end;
	margin-right: 1em;
	background: grey;
}

.message--other {
	align-self: flex-start;
	margin-left: 1em;
	background: var(--secondary-bg);
}

.message__content {
	margin: 0;
}

.message__time {
	align-self: flex-end;

	margin-bottom: -0.8em;
	margin-left: auto;

	font-size: 0.75rem;

	opacity: 0.7;
}

.emoji-panel {
	display: none;

	/* By default */
	width: 100%;
	background-color: var(--secondary-bg);
}

.emoji-panel__section {
	margin-left: clamp(0.5rem, 8%, 200px);
}

.emoji-panel__section:last-of-type {
	margin-bottom: 1rem;
}

.emoji-panel__header {
	letter-spacing: 2px;
}

.emoji-panel__emojies {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.emoji-button {
	cursor: pointer;
	background: transparent;
	border: none;
}

.message-form {
	position: sticky;
	bottom: 0;

	display: flex;

	width: 100%;
	height: 4rem;
	padding: 0.5rem;

	background-color: black;
}

.message-form__label {
	display: none;
}

.message-form__text {
	resize: none;

	width: 100%;
	margin-right: 0.5em;
	margin-left: 0.5em;
	padding-top: 0.6rem;
	padding-left: 0.5em;

	font-size: 1.5rem;
	color: var(--primary-font-clr);

	background: rgb(82 82 82);
	border: none;
	border-radius: 1rem;
	outline: none;
	caret-color: var(--primary-font-clr);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.message-form__text::-webkit-scrollbar {
	display: none;
}

.message-form__submit {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	width: clamp(10px, 7%, 70px);
	margin-right: 1em;

	background-color: var(--secondary-bg);
	border: none;
	border-radius: 50%;
}

.submit__img {
	max-width: 80%;
}
